<div class="row g-3">
    <!-- Total Clients Card -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-header bg-info text-white">
          <strong>Total Clients</strong>
        </div>
        <div class="card-body">
          <h4 class="text-center">{{ totalClients }}</h4> 
        </div>
      </div>
    </div>
  
    <!-- Total Orders Card -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <strong>Total Orders</strong>
        </div>
        <div class="card-body">
          <h4 class="text-center">{{ totalOrders }}</h4> 
        </div>
      </div>
    </div>
  
    <!-- Total Products Card -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-header bg-warning text-white">
          <strong>Total Products</strong>
        </div>
        <div class="card-body">
          <h4 class="text-center">{{ totalProducts }}</h4> 
        </div>
      </div>
    </div>
  </div>

  

  
  
  <div class="row g-3 mt-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-secondary text-white">
          <strong>Status des Commandes</strong>
        </div>
        <div class="card-body">
          <canvas id="orderStatusChart"></canvas>
        </div>
      </div>
    </div>

  </div>
  